.title{
            text-align: center;
            font-size: 90px;
            margin-top: 70px;
            margin-left: 250px;
            position: absolute;
            color:white;
            }
.subtitle{
            text-align: center;
            font-size: 60px;
            margin-top: 180px;
            margin-left: 250px;
            position: absolute;

  color:white;
             }

.cover {    text-align: center;
            background-image: url("https://images.unsplash.com/photo-1444728399417-08d2aa39e6f4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e58dcf44c15c4b0b9457e44670be7c6e");
            background-size: cover;
            height: 1000px;
            position:relative;
            }

.firststep {
            background-color:rgb(234,88,62);
            height:1200px;

                       }

.secondstep {
            background-color:rgb(168,237,226);
            height:1000px;
          }

.thirdstep {
            background-color:rgb(237,168,204);
            height:1000px;
            }

.result{
           background-color:black;
           height:1200px;

          }

.finalresult{
            width: 100px;
            height: auto;

            margin-top: 200px;
            margin-bottom: 30px;
            margin-left: 600px;
            margin-right: 200px;
            }


.optionbox{
           float: left;
           display:inline-block;
           margin-top:150px;
           margin-bottom:50px;
           margin-left: 50px;
           width:auto;

          }


.optionbox2{
          display:inline-block;
          margin-top:150px;
          margin-bottom:50px;
          margin-left: 120px;
          width:auto;
           }

.optionbox3{
          display:inline-block;
          margin-top:150px;
          margin-bottom:50px;
          margin-left: 120px;
          width:auto;
          }

.optionbox4{
         display:inline-block;
        margin-top:150px;
          margin-bottom:50px;
                    margin-left: 120px;
                    width:auto;
                    }

#dglass{
        width:100px;
         }
.optionbox img {
           width: 330px;
           height: auto;
           transition:width 0.2s;
           }
.optionbox img:hover {
                       width: 333px;
                       height: auto;
                     }

 .optionbox2 img:hover {
                      width: 225px;
                      height: auto;
                            }
  .optionbox3 img:hover {
                     width: 225px;
                    height: auto;
                        }
.optionbox3 img,
.optionbox2 img {
          width: 220px;
          height: auto;
          transition:width 0.2s;
      }



.button{
      margin-top: 360px;
      margin-left: -80px;
      font-family: helvetica;
      font-size: 45px;
      background-color:rgb(234,88,62);
      border: none;
      color: white;
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 3px;
    }

.button span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
}

.button span:after {
     content: ';)';
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
}

.button:hover span {
     padding-right: 35px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.nextBtn{
  color:white;
  font-family: helvetica;
  font-size: 45px;
  margin-top:5px;
  margin-left: 700px;
  margin-bottom:80px;
  background-color:rgb(47,97,139);
  border-radius: 3px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
         }
.nextBtn.enjoyBtn{
       background-color:rgb(47,97,139);

}




.startBtn{
  color:white;
  font-family: helvetica;
  font-size: 45px;
  margin-top:30px;
  margin-left: 110px;
  background-color:rgb(234,88,62);
  border-radius: 3px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
         }


#finalText{
    color: white;
    font-size: 50px;
}


#next3{
  margin-top:10px;
  margin-left: 800px;
  margin-bottom:80px;
  background-color:grey;


      }

#finalResult{
  margin-top:30px;
  margin-left: 800px;
  margin-bottom:80px;
      }



  /*    @keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg)
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg)
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg)
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg)
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg)
    }
}

.swing {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing}
}
*/
